#start-btn
{
    font-size: 25px;
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
